@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.background1{
  background-image: url("../../public/fondo3hd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 90%;
}

.background2{
  background-image: url("../../public/fondo5hd.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:left bottom ;

}

@media only screen and (max-width: 600px) {
  .background1{
    background-position:center;
    background-position-y: center;
  }
  .background2{
    background-attachment: scroll;
    background-position-x: 40%;
    background-position-y: center;
  }
}